body {
    background-color: whitesmoke;
}

a{
    text-decoration: none !important;
    color: darkorange;
}

.navbar-default {
    color: floralwhite;
}

.navbar-text a {
    color: antiquewhite;
}
.header {
    background-color:cadetblue;
    color: antiquewhite;
}

.panel-body {
    color: darkorange;

}
.sub-text {
    color: gray;
}


.edit_delete {
    color: #333;
}

.data {
    white-space: pre-wrap;
}

.flashes {
    color: black;
    background-color: green;
}

.navbar-header {
    float: right;
    margin: 0;
}
.profile-photo {
    border-radius: 50%;
    float: right;

}

.login {
    margin-top: 20;
    color: antiquewhite;

}

.logout {
    margin-top: 10;
    color: antiquewhite;

}
.navbar-link  {
    color: blue;
}
.profile-name {
    margin: 20;

}
