<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default header">
            <div class="container" >
                <h1 class="navbar-text"><a href='/'>Catalog App</a></h1>
                <div class="navbar-header ">
                    
                    <h4 class="login"><a class="navbar-link" href="/login">Login</a></h4>
                </div>
            </div>
        </nav>
        {% block content %}

        {% endblock %}
    </body>
    
</html>
