<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default header">
            <div class="container">
                <h1 class="navbar-text"><a href='/'>Catalog App</a></h1>
                <img class="profile-photo" src={{ login_session["picture"] }}>
                <div class="navbar-header">
                    <h3 class="profile-name">{{ login_session['username'] }}</h3>
                    <h4 class="logout"><a class="navbar-link" href="/disconnect">Logout</a></h4>
                </div>

            </div>
        </nav>
        {% block content %}

        {% endblock %}
    </body>    
</html>